<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Best Restaurants</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Best Restaurants</h1>
    </div>
    <div class="container">
      <h2>Create a list of resaurants by cuisine!</h2><br>

      <h5><a href="/restaurant/new">Add a restaurant</a></h5><br>
    </div>
  </body>
</html>
