<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Best Restaurants</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Best Restaurants</h1>
    </div>
    <div class="container">
      <h2>Restaurants</h2><br>
      <ul>
        @foreach(var restaurantList in Model.Values)
        {
          @foreach(var restaurant in restaurantList)
          {
            <li>@restaurant.Name</li>
          }
        }
      </ul>
      <form action="/restaurants-by-cuisine" method="post">
        <select name="type">
          @foreach(var cuisine in Model.Keys)
          {
            <option value=@cuisine.Id>@cuisine.Type</option>
          }
        </select>
        <button type="submit">Submit</button>
      </form>
      <h5><a href="/restaurant/new">Add new restaurant</a></h5><br>
      <h5><a href="/">Home</a></h5><br>
    </div>
  </body>
</html>
